p {
  font-family: Lato;
}

.nav-container {
  margin: 10px;
  float: left;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
}

.navbar-dark {
  color: #042150;
}

.nav-color {
  background: #f5f5f5;
}
.a-tag-color {
  color: #042150 !important;
}
