

    
<nav class="navbar navbar-expand-md navbar-dark nav-color mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand a-tag-color">Domestic Bookings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link a-tag-color"  *ngIf="authService.isLoggedIn | async as isLoggedIn">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li> -->
        <li class="nav-item">
          <a (click)="onLogout()" *ngIf="authService.isLoggedIn | async as isLoggedIn" class="nav-link a-tag-color">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
