 <!-- <mat-card class="my-margin">
      <mat-card-title>Are you sure you want to delete data?</mat-card-title>
        <mat-card-content>
          <form >          
            <div class="button">
        
            </div>
          </form>
        </mat-card-content>
      </mat-card>  -->

      <h2 mat-dialog-title>Question?</h2>
      <mat-dialog-content>
        <p>Are you sure you would like to delte data??</p>
      </mat-dialog-content>
      <!-- <mat-dialog-action> -->
            <button type="submit" color="warn" mat-raised-button (click)="onYesClick()">Yes</button>
            <button type="submit" color="primary" mat-button (click)="onNoClick()">No</button>
      <!-- </mat-dialog-action> -->